* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar {
    background: darkslateblue;
    position: fixed;
    width: 100%;
    padding: 15px 0;
}

.navbar .menu li a{
    color: black;
    font-size: 38px;
    font-weight: 500;
}

.navbar .logo a {
    color: ghostwhite;
    font-size: 55px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li a{
    color: ghostwhite;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

body {
    text-align: center;
    font-family: Cambria;
    background-image: url("./tech.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    width: 550px;
    height: 800px;
    padding: 40px;
    text-align: center;
    border: 1px solid darkslategray;
    box-shadow: 1px 6px 6px;
    background: rgb(144, 144, 228);
    margin: auto;
    margin-top: 5%;
    font-family: 'century gothic';
    color: seashell;
    float: inline-end;
}

.box img {
    width: 100%;
    border-radius: 60%;
}


.contact {
    width: 450px;
    height: 400px;
    padding: 40px;
    text-align: center;
    border: 1px solid darkslategray;
    box-shadow: 1px 6px 6px;
    background: rgb(144, 144, 228);
    margin: auto;
    margin-top: 5%;
    font-family: 'century gothic'; 
    color: seashell;
    
}

.contact img {
    width: 100%;
    border-block-end-color: currentColor;
}
